<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{#if pageTitle}}{{pageTitle}} – {{/if}}DönerFinder</title>

  <!-- Pull in the CSS once for all pages -->
  <link rel="stylesheet" href="/doc/css/profile.css">
</head>
<body>
  {{{body}}}     {{!-- view content goes here --}}
</body>
</html>
